* {
    margin: 0;
    font-family: 'montserrat', serif;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    background-color: #B8DBCB;
    margin: 20px;
}

main {
    display: flex;
    /* height: auto; */
    text-align: center;
    /* margin: 20px auto; */
}

.card {
    width: 90%; 
    display: flex; 
    margin: 0 10px; 
    box-sizing: border-box;
	background-color:#fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8), 
    -2px -2px 10px rgba(0, 0, 0, 0.09);
	height: 500px;
    
}

.img-container {
    width: 50%; 
    padding: 10px;
    box-sizing: border-box;
}

.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
	
}

.contenido {
    width: 50%; 
    background-color: #fceed3;
    padding: 20px;
    box-sizing: border-box;
    text-align: left; 
	border: 1px solid rgb(170, 165, 165);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) 
    -1px -1px 5px rgba(0, 0, 0, 0.02);
}

.contenido h2 {
    color:#e2b511;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.parrafo {
    margin: 10px 0; 
    text-align: justify;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 13px;
    line-height: 1.2;
}

.precio {
    color: #e2b511;
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
    text-align: center; 
    padding: 10px 0; 
}

button {
    background-color:#e2b511; 
	color:#fff;
	padding: 6px 60px;
	border-radius: 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-weight: 600;
	margin: 10px auto auto;
	display: block;
	
}

button:hover {
    background-color:#292519;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        height: auto;              
        align-items: flex-start;
        margin: 10px;   
    }

    main {
        flex-direction: column;
        width: 100%; 
        padding: 0; 
        margin: 0; 
    }

    .card {
        width: 100%; 
        margin: 10px 0; 
        flex-direction: column; 
        height: auto; 
    }
    
    .img-container {
        width: 100%; 
        padding: 5px;
    }

    .img-container img {
        height: auto; 
        object-fit: cover;
    }

    .contenido {
        width: 100%; 
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.22),
            inset 0 2px 2px rgba(0, 0, 0, 0.06);
        text-align: center; 
		border: none; 
		box-shadow: none; 
    }

    .contenido h2 {
        font-size: 14px;
        max-width: 280px;
        margin: 10px 0 10px 5%; 
        text-align: left;
    }

    .parrafo {
        max-width: 520px;     
        font-size: 13px;
        line-height: 1.4;
        text-align: justify;
		margin: 10px 5%;
    }

    .precio {
        font-size: 17px;
        margin-bottom: 4px;
        text-align: center; 
        padding: 10px;
    }

    button {
        padding: 5px 40px;
        font-size: 12px;
        margin-top: 6px;
    }
}

@media (max-width: 480px) {
    .contenido h2 {
        font-size: 20px;
    }

    .parrafo {
        font-size: 14px;
    }

    .precio {
        font-size: 24px;
    }

    button {
        padding: 10px 40px;
        font-size: 12px;
    }
}