* {
    margin: 0;
    font-family: 'montserrat', serif;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    background-color: #B8DBCB;
    margin: 20px;
}

main {
    display: flex;
    /* height: auto; */
    text-align: center;
    /* margin: 20px auto; */
}

.card {
    width: 90%; 
    display: flex; 
    margin: 0 10px; 
    box-sizing: border-box;
	background-color:#fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8), 
    -2px -2px 10px rgba(0, 0, 0, 0.09);
	height: 500px;
    
}

.img-container {
    width: 50%; 
    padding: 10px;
    box-sizing: border-box;
}

.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
	
}

.contenido {
    width: 50%; 
    background-color: #fceed3;
    padding: 20px;
    box-sizing: border-box;
    text-align: left; 
}

.contenido h2 {
    color:#e2b511;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.parrafo {
    margin: 10px 0; 
    text-align: justify;
    line-height: 1.6;
    color: #2b2b2b;
    font-size: 13px;
    line-height: 1.2;
}

.precio {
    color: #e2b511;
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
    text-align: center; 
    padding: 10px 0; 
}

button {
    background-color:#e2b511; 
	color:#fff;
	padding: 6px 60px;
	border-radius: 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-weight: 600;
	margin: 10px auto auto;
	display: block;
	
}

button:hover {
    background-color:#292519;
    cursor: pointer;
}

@media  (min-width: 768px) and (max-width: 1024px){
    main{
        margin-top: 550px;
        
        display: flex;
      flex-direction: column;
      gap: 60px;
    
  
    }


}

@media  (min-width: 0px) and (max-width: 768px){
    main{
        margin-top: 650px;
      
        
        display: flex;
      flex-direction: column;
      gap: 60px;
    
  
    }

 

      .img-container img{
        object-fit: contain;
        height: 250px;
        width: 450px;
        
        
    }
    .card{
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 100%;
       
        
      



    }
    .contenido{
        width: 100%;
        height: 500px;
    }


      



}


/*@media (max-width: 768px) {
    body {
        height: auto;
        align-items: flex-start;
        margin: 0;
        padding: 10px;
        background-color: #B8DBCB;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 10px 0;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8), 
        -2px -2px 10px rgba(0, 0, 0, 0.09);
        display: block;
    }

    .img-container {
        width: 100%;
        padding: 10px;
    }

    .img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .contenido {
        width: 100%;
        background-color: #fceed3;
        padding: 20px;
        text-align: left;
    }

    .contenido h2 {
        color:#e2b511;
        text-align: left;
        padding: 2px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .parrafo {
        margin: 10px 0;
        text-align: justify;
        line-height: 1.6;
        color: #2b2b2b;
        font-size: 13px;
        line-height: 1.2;
    }

    .precio {
        color: #e2b511;
        font-weight: bold;
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        padding: 10px 0;
    }

    button {
        background-color:#e2b511;
        color:#fff;
        padding: 6px 60px;
        border-radius: 15px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-weight: 600;
        margin: 10px auto auto;
        display: block;
    }
}*/
