* {
    margin: 0;
    font-family: 'montserrat', serif;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    background-color: #B8DBCB;
    margin: 20px;
}

main {
    display: flex;
    text-align: center;
}

.card {
    width: 90%;
    display: flex;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8),
        -2px -2px 10px rgba(0, 0, 0, 0.09);
    height: 500px;
}

.img-container {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.contenido {
    width: 50%;
    background-color: #fceed3;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.contenido h2 {
    color: #e2b511;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.parrafo {
    margin: 10px 0;
    text-align: justify;
    line-height: 1.2;
    color: #2b2b2b;
    font-size: 13px;
}

.precio {
    color: #e2b511;
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #e2b511;
    color: #fff;
    padding: 6px 60px;
    border-radius: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 600;
    margin: 10px auto auto;
    display: block;
}

button:hover {
    background-color: #292519;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        gap: 40px;
   
    }
}


@media (max-width: 768px) {

    body {
        height: auto;              
        margin-top: 20px;
        justify-content: flex-start; 
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 40px;
    
    }

    main {
        width: 100%;
    }

    .card {
        flex-direction: column;  
        height: auto;
        width: 80%;
        margin: 0 auto;
    }

    .img-container {
        width: 50%;
        margin: 0 auto;

        padding: 0;
    }

    .img-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .contenido {
        width: 100%;
        text-align: center;
    }

    .contenido h2 {
        text-align: left;
    }

    .parrafo {
        text-align: justify;
    }

    button {
        width: 70%;
        padding: 10px 0;
    }
}
