* {
    margin: 0;
    font-family: 'montserrat', serif;
    box-sizing: border-box;
}

body {
	align-items: center;
	display: flex;
	height: 80vh;
	justify-content: center;
	background-color: #B8DBCB;
	margin: 20px;
}


main {
	display: flex;
	background-color:#fff;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8), 
    -2px -2px 10px rgba(0, 0, 0, 0.09);
	width: 50%;
	height: 100%;
	text-align: center;
}

.img-container {
	width: 50%;
		
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* display: block; */
	padding: 45px 10px 10px 10px;
	

}

.contenido {
	width: 50%;
	background-color: #fceed3;
	padding: 20px;
	border-left: 1px solid #ccc;  
	
}

.contenido h2 {
	color:#e2b511;
	text-align: left;
	padding: 2px;
	text-transform: uppercase;
	font-size: 20px;
}

#parrafo {
	margin: 20px auto 0 auto;
	text-align: justify;
	/* padding: 10px; */
	line-height: 1.6;
	color: #2b2b2b;
	font-size: 13px;
	line-height: 1.2;
}

#precio {
	color: #e2b511;
	font-weight: bold;
	margin-top: 10px;
	font-size: 26px;
	text-align: center;
	padding: 10px;
	
}

button {
	background-color:#e2b511; 
	color:#fff;
	padding: 6px 60px;
	border-radius: 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-weight: 600;
	margin: 20px auto 0 auto;
}

button:hover {
	background-color:#292519;
	cursor: pointer;
}

@media (max-width: 768px) {

	body {
        height: auto;              
        align-items: flex-start;   
    }

	main {
		flex-direction: column;
		width: 90%;
		height: auto;
	}

	.contenido {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.22),
            inset 0 2px 2px rgba(0, 0, 0, 0.06);
		width: 100%;

	}

	#parrafo {
		max-width: 280px;     
        font-size: 13px;
        line-height: 1.4;
        text-align: justify;
	}
	
	.img-container {
		width: 100%;
		height: 60vh;
	}

	.img-container img {
		height: 100%;
        object-fit: contain;
	}

	.contenido h2 {
		font-size: 14px;
		max-width: 280px;
        margin-left: auto;
        margin-right: auto;
	}

	#precio {
		font-size: 17px;
		/* padding-bottom: 2px; */
		margin-bottom: 4px;
	}

	button {
		padding: 5px 40px;
		font-size: 12px;
		margin-top: 6px;
	}

}

@media (max-width: 480px) {
	.contenido h2 {
		font-size: 20px;
	}

	#parrafo {
		font-size: 14px;
	}

	#precio {
		font-size: 24px;
	}

	button {
		padding: 10px 40px;
		font-size: 12px;
	}
}